/**
 ** All the codes by CODER DUROJY. A Full Stack Web Developer.
 ** Author: CODER DURJOY
 ** Author URI: https://coderdurjoy.com/

-----------------------------------------------------------**/

/** 
*** Menu----- **/
@media (max-width: 1060px) {
    .desktop-menu {
        display: none !important;
    }
}

/** 
*** Typed JS Text----- **/
@media (max-width: 460px) {
    .welcome-area h1 {
        font-size: 24px;
    }
}

@media (max-width: 360px) {
    .welcome-area h1 {
        font-size: 22px;
    }
}

@media (max-width: 310px) {
    .welcome-area h1 {
        font-size: 18px;
    }
}
