/** 
*** Custom CSS File For http://coderdurjoy.com  **/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1.7px;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(0deg, rgba(26, 25, 25, 0.9), rgba(27, 26, 26, 0.9)), url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #d5d5d5;
    z-index: 999;
}

hr {
    background: #e0e0e0;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

/**
*** Main Section Top-Bottom Padding  **/
.cd-padding {
    padding: 80px 0;
}

/** 
*** Header Area **/
.header-area {
    width: 100%;
    min-height: 100vh;
}

.header-area nav .show {
    background: #333;
    padding: 30px 20%;
    z-index: 999;
}

.cd-fixed {
    position: fixed;
    left: 0;
    right: 0;
    background: #2c3e50;
    z-index: 999;
}

.cd-logo {
    font-size: 24px;
}

.cd-logo span {
    color: #acacac;
}

.header-area nav ul li a {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.source-code a {
    border: 1px solid #acacac;
}

/**
*** Welcome Area Buttons **/

.welcome-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.welcome-area p {
    font-size: 20px;
    width: 90vw;
}

.cd-welcome-btn a {
    min-width: 180px;
    color: #fff;
    display: inline-block;
    margin: 8px 16px;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid #acacac;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.cd-welcome-btn a:hover {
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    color: #333;
}

/**
*** Social Profiles **/
.cd-social-profiles {
    margin-top: 20px;
}

.cd-social-profiles ul {
    list-style: none;
    margin: 0 0 0 -25px;
}

.cd-social-profiles ul li {
    display: inline;
    margin: 0 14px;
}

.cd-social-profiles ul li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: #fff;
}

.cd-social-profiles ul li a i {
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 25%;
    -webkit-border-radius: 25%;
    -moz-border-radius: 25%;
    -ms-border-radius: 25%;
    -o-border-radius: 25%;
    letter-spacing: normal;
}

.cd-social-profiles ul li a i:hover {
    background: #fff;
    color: #333;
}

/**
*** About Area **/
.about-area {
    overflow: hidden;
}

.about-area h2,
.source-code h2,
.contact-area h2 {
    width: 280px;
    margin: 0 auto 80px;
    padding: 10px;
    font-size: 36px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #acacac;
}

.about-area h2:hover,
.source-code h2:hover,
.contact-area h2:hover {
    color: #f2f2f2;
}

.about-area img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-area p {
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
}

.about-area p span {
    font-size: 32px;
}

/**
*** Source Code Area **/

.source-code h2,
.contact-area h2 {
    margin-bottom: 25px;
}

.source-code h4,
.contact-area h4 {
    font-size: 20px;
}

.source-code .card {
    background: transparent;
    border: 1px solid #acacac;
}

/**
*** Footer Area **/
.footer-area {
    box-shadow: 0 0 16px 4px #616161;
}

.footer-area p a {
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #acacac;
}

.footer-area p a:hover {
    color: #f2f2f2;
    border: 1px solid transparent;
}











/** 
*** Custom CSS File For http://coderdurjoy.com  **/