/**
 ** All the codes by CODER DUROJY. A Full Stack Web Developer.
 ** Author: CODER DURJOY
 ** Author URI: https://coderdurjoy.com/

-----------------------------------------------------------**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1.3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

.active {
    background-color: #496077;
}

/**
*** Fixed Menu ----- **/
.cd-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9;
}

.mobile-menu-fixed {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 999;
}

/**
*** Main Section Top-Bottom Padding  **/
.cd-padding {
    padding: 80px 0;
}

/**
*** Header Area **/
.header-area {
    width: 100%;
    min-height: 100vh;
    color: #f1f1f1;
    background: linear-gradient(0deg, rgba(26, 25, 25, 0.9), rgba(27, 26, 26, 0.9)), url('images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/**
*** Welcome Area **/
.welcome-area {
    width: 90vw;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.welcome-area h2 {
    font-size: 28px;
    font-weight: 100;
}

.cd-welcome-btn a {
    min-width: 180px;
    color: #f1f1f1;
    font-weight: 500;
    display: inline-block;
    margin: 8px;
    padding: 10px 25px;
    text-align: center;
    border: 1px solid #acacac;
    border-radius: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.cd-welcome-btn a:hover {
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    color: #333;
}

/**
*** Social Profiles **/
.cd-social-profiles {
    margin-top: 20px;
}

.cd-social-profiles ul {
    list-style: none;
}

.cd-social-profiles ul li {
    display: inline;
    margin: 0 1px;
}

.cd-social-profiles ul li a {
    display: inline-block;
}

.cd-social-profiles ul li a i {
    color: #f1f1f1;
    font-size: 16px;
    padding: 8px;
    border: 1px solid #909090;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.cd-social-profiles ul li a i:hover {
    background: #f1f1f1;
    color: #333;
}

/**
*** Navbar Btn **/
.menu-btn-bg {
    background: #2c3e50;
    padding: 10px 0;
}

.main-menu-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-menu-btn a {
    color: #f1f1f1;
    font-size: 22px;
    font-weight: 500;
}

/**
*** Inside main-menu-btn **/
.menu-open,
.menu-close {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #f1f1f1;
    font-size: 22px;
    cursor: pointer;
    background: #2c3e50;
    border: 1px solid #909090;
    z-index: 999;
}

.menu-open:hover,
.menu-close:hover {
    border: 1px solid #f1f1f1;
}

.menu-close {
    display: none;
}

/**
*** Desktop User Menu **/
.desktop-menu .main-menu {
    width: 60px !important;
}

.desktop-menu .cd-profile img {
    width: 60px !important;
    height: 60px !important;
}

/**
*** All User Menu (Mobile) **/
.mobile-menu .main-menu {
    margin-left: -300px;
}

.main-menu {
    width: 300px;
    min-height: 100vh;
    background-color: #2c3e50;
    overflow-x: hidden;
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.main-menu ul {
    list-style: none;
}

.main-menu ul li a {
    white-space: nowrap;
    text-transform: capitalize;
    color: #f1f1f1;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 12px 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.main-menu ul li a:hover {
    background-color: #496077;
}

.main-menu ul li a span i {
    width: 60px;
    font-size: 22px;
    text-align: center;
}

/**
*** Menu profile picture **/
.main-menu .cd-profile {
    width: 100%;
    height: auto;
    padding: 40px 0 25px;
    text-align: center;
}

.main-menu .cd-profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-menu .cd-profile h4 {
    text-transform: uppercase;
    color: #f1f1f1;
    font-size: 14px;
    margin: 12px 0 4px;
}

.main-menu .cd-profile h5 {
    text-transform: capitalize;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 400;
}

/**
*** About Area ----- **/
.about-area {
    color: #f1f1f1;
    background: #34495e;
}

.about-area h2,
.source-code h2,
.contact-area h2 {
    width: 280px;
    margin: 0 auto 80px;
    padding: 10px;
    font-size: 36px;
    color: #f1f1f1;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #909090;
}

.about-area h2:hover,
.source-code h2:hover,
.contact-area h2:hover {
    border: 1px solid #f1f1f1;
}

.about-area img {
    width: 300px;
    height: 300px;
    border: 6px solid #f1f1f1;
}

.about-area p {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.7em;
}

.about-area p .hii {
    font-size: 32px !important;
}

/**
*** Source Code Area **/
.source-code {
    color: #f1f1f1;
    background: linear-gradient(0deg, rgba(26, 25, 25, 0.8), rgba(27, 26, 26, 0.8)), url('images/bg2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.source-code h2 {
    margin-bottom: 25px;
}

.source-code h4 {
    font-size: 20px;
    font-weight: 100;
}

.box-border {
    border: 1px solid #909090;
}

/**
*** Contact Area ----- **/
.contact-area {
    background: #34495e;
    color: #f1f1f1;
}

.contact-area h4 {
    font-weight: 100;
    padding-left: 10px;
    border-left: 6px dashed #909090;
}

.contact-area p {
    font-size: 18px;
    font-weight: 100;
}

.contact-area ul {
    list-style: none;
}

.contact-area ul li a {
    max-width: 232px;
    color: #f1f1f1;
    display: block;
    padding: 4px 4px 2px;
    border-bottom: 1px solid #496077;
}

.contact-area ul li a:hover {
    background: #496077;
}

/**
*** Footer Area ----- **/
.footer-area {
    color: #f1f1f1;
    background: #2c3e50;
}

.footer-area p {
    margin: 0;
}

/**
*** Ends ----- **/