/***
Just a personal project------
https://coderdurjoy.github.io/
https://coderdurjoy.com/
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: #251b3e;
}

h1,
h2,
p,
span {
    line-height: 1.5em;
    color: #c3c3c3;
    letter-spacing: 1.3px;
}

p {
    font-size: 18px;
    font-family: 'Segoe UI', Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.demo-box {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.social-profile {
    margin-top: 20px;
}

.social-profile a {
    margin: 0 4px;
}

.social-profile i {
    width: 40px;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    color: #251b3e;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

/* Social icons hover */
.social-profile a:hover i {
    color: #085c9c;
}